@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,200&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol,
ul {
	list-style: none;
	list-style-type: square;
}

html,
body {
	touch-action: none;
	margin: 0;
}

body {
	position: relative;
	font-family: 'JetBrains Mono', monospace;
	overflow: clip;
	height: 100svh;
	width: 100vw;
	overflow: hidden;
	/* font-family: 'PT Serif', serif; */
	/* overflow: hidden; */
	/* background: white; */
	/* background: radial-gradient(circle at center, hsl(215, 18%, 13%), hsl(215, 18%, 20%)); */
}

button,
input[type='button'] {
	outline: none;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
	border: 0;
}

input[type='search'] {
	background-color: #333; /* Dark background color */
	color: #fff; /* Light text color for better visibility on dark background */
}

body {
    --bg-body: #160F1D;
    --bg-interface: #22192B;

	--bg-start: #7084E9;

    /* --bg-end: #E39B48; */
    --bg-end: #D39246;

	/* --bg-visited: #4D368F; */
	--bg-visited: #48368F;

	/* --bg-path: #5568CD; */
	--bg-path: #5C71DA;

    /* --bg-wall: #D0424B; */
    --bg-wall: #8E3C41;

    --bg-weight-1: #3B7945;
    --bg-weight-2: #449743;
    --bg-weight-3: #4DAC4B;
    /* --bg-weight-1: #2A943B;
    --bg-weight-2: #56A73B;
    --bg-weight-3: #74C358; */

    --bg-weight-tool: var(--bg-weight-2);
	--bg-wall-tool: var(--bg-wall);


	--bg-select: hsl(0, 0%, 3%);
	--bg-tool-border: #F0E8F4;
	--select-active: hsl(215, 80%, 35%);

	--color-weight: hsl(218, 13%, 88%);
	--color-player: hsl(210, 19%, 73%);
	--color-nav: hsl(0, 19%, 95%);
}

body.dark {
    --bg-not-visited: #3B2D52;
}

body.light {
	--bg-not-visited: #F0E8F4;
}
