* {
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol,
ul {
	list-style: none;
	list-style-type: square;
}

html,
body {
	touch-action: none;
	margin: 0;
}

body {
	font-family: monospace;
	font-size: 56px;
	height: 100svh;
	width: 100vw;
}

button,
input[type='button'] {
	outline: none;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
	border: 0;
}

input[type='search'] {
	background-color: #333; /* Dark background color */
	color: #fff; /* Light text color for better visibility on dark background */
}

body {
	--main-white: #f0e8f4;
	--bg-body: #160f1d;
	--bg-interface: #22192b;

	--bg-start: #7084e9;
	--bg-end: #d39246;
	--bg-not-visited: #3b2d52;
	--bg-visited: #48368f;
	--bg-path: #5c71da;
	--bg-wall: #8e3c41;

	--bg-weight-3: #3b7945;
	--bg-weight-2: #449743;
	--bg-weight-1: #4dac4b;

	--bg-weight-tool: var(--bg-weight-2);
	--bg-wall-tool: var(--bg-wall);

	--bg-select: var(--bg-body);
	--select-active: var(--bg-path);

	color: var(--main-white);
}

body.light {
	--bg-not-visited: var(--main-white);
}
